@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --main_color : #005DA8;
  --second_color : #131313;
  --third_color : #EFF4FA;
  --fourth_color : #001E37;
  --fifth_color : #6A6A6A;
}

body{
  background-color: #F3F9FF;
}

header a{
  color: var(--second_color);
}

header a:hover,
header a.active
{
  color: var(--main_color);
}
#slider div{
  background: transparent;
}
.title{
  color: var(--main_color);
}
#slider .slider-item{
  min-height: 800px;
}
#slider .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
}
footer{
  background-color: var(--fourth_color);
}
.bg-1{
  background-color: var(--main_color);
}
.color-fourth{
  color: var(--fourth_color);
}

.color-1{
  color: var(--main_color);
}
.color-2{
  color: var(--second_color);
}
.color-3{
  color: var(--third_color);
}
.color-4{
  color: var(--fourth_color);
}
.color-5{
  color: var(--fifth_color);
}
